.sidebar {
	position: fixed;
	top: 50px;
	left: 0;
	bottom: 0;
	width: 300px;
	z-index: 996;
	transition: all 0.3s;
	padding: 20px;
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: #aab7cf transparent;
	background-color: #fff;
}

@media (max-width: 768px) {
	.sidebar {
		left: -250px;
	}

	.sidebar.show {
		left: 0;
	}

	.content.opened {
		margin-left: 0;
	}

	.sidebar-toggler {
		display: block;
		position: fixed;
		top: 10px;
		left: 10px;
		z-index: 1001;
	}

	.content {
		margin-left: 0;
	}
}

@media (max-width: 1199px) {
	.sidebar {
		left: -300px;
	}
}

.sidebar::-webkit-scrollbar {
	width: 5px;
	height: 8px;
	background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
	background-color: #aab7cf;
}

@media (min-width: 1200px) {
	#main,
	#footer {
		margin-left: 300px;
	}
}

@media (max-width: 1199px) {
	.toggle-sidebar .sidebar {
		left: 0;
	}
}

@media (min-width: 1200px) {
	.toggle-sidebar #main,
	.toggle-sidebar #footer {
		margin-left: 0;
	}

	.toggle-sidebar .sidebar {
		left: -300px;
	}
}

.sidebar-nav {
	padding: 0;
	margin: 0;
	list-style: none;
}

.sidebar-nav li {
	padding: 0;
	margin: 0;
	list-style: none;
}

.sidebar-nav .nav-item {
	margin-bottom: 5px;
}

.sidebar-nav .nav-heading {
	font-size: 11px;
	text-transform: uppercase;
	color: #899bbd;
	font-weight: 600;
	margin: 10px 0 5px 15px;
}

.sidebar-nav .nav-link {
	align-items: center;
	font-size: 15px;
	font-weight: 600;
	color: #4154f1;
	transition: 0.3;
	background: #f6f9ff;
	padding: 10px 15px;
	border-radius: 4px;
}

.sidebar-nav .nav-link i {
	font-size: 16px;
	margin-right: 10px;
	color: #4154f1;
}

.sidebar-nav .nav-link.collapsed {
	color: #012970;
	background: #fff;
}

.sidebar-nav .nav-link.collapsed i {
	color: #899bbd;
}

.sidebar-nav .nav-link:hover {
	color: #4154f1;
	background: #f6f9ff;
}

.sidebar-nav .nav-link:hover i {
	color: #4154f1;
}

.sidebar-nav .nav-link .bi-chevron-down {
	margin-right: 0;
	transition: transform 0.2s ease-in-out;
}

.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
	transform: rotate(180deg);
}

.sidebar-nav .nav-content {
	padding: 5px 0 0 0;
	margin: 0;
	list-style: none;
}

.sidebar-nav .nav-content a {
	align-items: center;
	font-size: 14px;
	font-weight: 600;
	color: #012970;
	transition: 0.3;
	padding: 10px 0 10px 40px;
	transition: 0.3s;
}

.sidebar-nav .nav-content a i {
	font-size: 6px;
	margin-right: 8px;
	line-height: 0;
	border-radius: 50%;
}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
	color: #4154f1;
}

.sidebar-nav .nav-content a.active i {
	background-color: #4154f1;
}

#main {
	margin-top: 5px;
	padding: 30px 30px;
	transition: all 0.3s;
}

@media (max-width: 1199px) {
	#main {
		padding: 20px;
	}
}

/* page title */
.pagetitle {
	margin-bottom: 10px;
}

.pagetitle h1 {
	font-size: 24px;
	margin-bottom: 0;
	font-weight: 600;
	color: #012970;
}

/* bread */
.breadcrumb {
	font-size: 14px;
	font-family: "Nunito", sans-serif;
	color: #899bbd;
	font-weight: 600;
}

.breadcrumb a {
	color: #899bbd;
	transition: 0.3s;
}

.breadcrumb a:hover {
	color: #51678f;
}

.breadcrumb .breadcrumb-item::before {
	color: #899bbd;
}

.breadcrumb .active {
	color: #51678f;
	font-weight: 600;
}

/* cards */
.product-card {
	background-color: #fff;
	border: 1px solid #ccc;
	margin-bottom: 24px;
}

.product-card a {
	text-decoration: none;
}

.product-card .stock {
	position: absolute;
	color: #fff;
	border-radius: 4px;
	padding: 2px 12px;
	margin: 8px;
	font-size: 12px;
}

.product-card .product-card-img {
	max-height: 260px;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
}

.product-card .product-card-img img {
	width: 100%;
}

.product-card .product-card-body {
	padding: 10px 10px;
}

.product-card .product-card-body .product-brand {
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 4px;
	color: #937979;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.product-card .product-card-body .product-name {
	font-size: 20px;
	font-weight: 600;
	color: #000;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.product-card .product-card-body .selling-price {
	font-size: 22px;
	color: #000;
	font-weight: 600;
	margin-right: 8px;
}

.product-card .product-card-body .original-price {
	font-size: 18px;
	color: #937979;
	font-weight: 400;
	text-decoration: line-through;
}

.product-card .product-card-body .btn1 {
	border: 1px solid;
	margin-right: 3px;
	border-radius: 0px;
	font-size: 12px;
	margin-top: 10px;
}

/* product view */
.product-view .product-name {
	font-size: 24px;
	color: #2874f0;
}

.product-view .product-name .label-stock {
	font-size: 13px;
	padding: 4px 13px;
	border-radius: 5px;
	color: #fff;
	box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
	float: right;
}

.product-view .product-path {
	font-size: 13px;
	font-weight: 500;
	color: #252525;
	margin-bottom: 16px;
}

.product-view .selling-price {
	font-size: 26px;
	color: #000;
	font-weight: 600;
	margin-right: 8px;
}

.product-view .original-price {
	font-size: 18px;
	color: #937979;
	font-weight: 400;
	text-decoration: line-through;
}

.product-view .btn1 {
	border: 1px solid;
	margin-right: 3px;
	border-radius: 0px;
	font-size: 14px;
	margin-top: 10px;
}

.product-view .btn1:hover {
	background-color: #2874f0;
	color: #fff;
}

.product-view .input-quantity {
	border: 1px solid #000;
	margin-right: 3px;
	font-size: 12px;
	margin-top: 10px;
	width: 58px;
	outline: none;
	text-align: center;
}

/* carts */

.shopping-cart .cart-header {
	padding: 10px;
}

.shopping-cart .cart-header h4 {
	font-size: 18px;
	margin-bottom: 0px;
}

.shopping-cart .cart-item a {
	text-decoration: none;
}

.shopping-cart .cart-item {
	box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
	padding: 10px 10px;
	margin-top: 10px;
}

.shopping-cart .cart-item .product-name {
	font-size: 16px;
	font-weight: 600;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	cursor: pointer;
}

.shopping-cart .cart-item .price {
	font-size: 16px;
	font-weight: 600;
	padding: 4px 2px;
}

.shopping-cart .btn1 {
	border: 1px solid;
	margin-right: 3px;
	border-radius: 0px;
	font-size: 10px;
}

.shopping-cart .btn1:hover {
	background-color: #2874f0;
	color: #fff;
}

.shopping-cart .input-quantity {
	border: 1px solid #000;
	margin-right: 3px;
	font-size: 12px;
	width: 40%;
	outline: none;
	text-align: center;
}

/* stars */

div.stars {
	width: 150px;

	display: inline-block;
}

.mt-200 {
	margin-top: 200px;
}

input.star {
	display: none;
}

label.star {
	float: right;

	padding: 10px;

	font-size: 30px;
}

input.star:checked ~ label.star:before {
	content: "\f005";

	color: #fd4;
}

input.star-5:checked ~ label.star:before {
	color: #fe7;

	text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before {
	color: #f62;
}

label.star:before {
	content: "\f006";

	font-family: FontAwesome;
}
